@import "../css/bootstrap.min.css";
@import "variables.less";
@import "glyphicons.less";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,300);

body {
	padding: 0;
	font-family: 'Quicksand';
	max-width: 1000px;
	margin: 0 auto;
}

// == FORMS =================================================================
@checkbox-size: 2.5em;
@checkbox-padding-left: 0.5em;
@form-radius: 0.5em;

.focus{
	background-color: lighten(@base-o, 25%);
}
.inputs{
	.border-radius(0);
	border: 0;
	//.box-shadow(inset 3px 3px 3px @default);
	&:focus{
		.focus;
	}
}
.btn[disabled]{
	opacity: 0.5;
	background-color: @default;
}
input, button, .form-control, .btn{
	.inputs;
}
input{
	background-color: lighten(@base-v, 40%);
	/* hides the spin-button for firefox */
	&[type="number"] {
    	-moz-appearance:textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}
	&[type="checkbox"]{
		position: absolute;
		left: -9999px;
		& + label{
			position: relative;  
			padding-left: @checkbox-size + @checkbox-padding-left;
			line-height: @checkbox-size;
			font-weight: normal; 
			cursor: pointer;
			.glyphicon;
			&:before{// CASE
				content: '';
				position: absolute;  
				left:0;
				top: 0;  
				width: @checkbox-size;
				height: @checkbox-size;
				//background-color: lighten(@base-v, 40%); 
				background-color: @white;
				.inputs; 
			}
			&:after{// COCHE
				.glyphicon-ok;
				position: absolute;  
				left: 0;  
				font-size: @checkbox-size;  
				color: @success;  
			}
			span{
				font-family: @base-font;
			}
		}
		&:not(:checked) + label:after { 
			.glyphicon-remove;
			top: 2px;
			color: lighten(@base-v, 30%);
		}
		&:checked + label:after {  
			top: 0;
			//background-color: fadeout(@success, 50%);
		}
		&:checked:focus + label:before,  
		&:not(:checked):focus + label:before {  
			.focus;
		}
		&:disabled + label:before {  
			.box-shadow(none);  
			border-color: #bbb;  
			background-color: #ddd;  
		}  
		&:disabled:checked + label:after {  
			color: #999;  
		}  
		&:disabled + label {  
			color: #aaa;  
		}  
	}
}
.selectadv{
	.inputs;
	position: relative;
	overflow: hidden;
	padding: 0;
	background: none no-repeat right lighten(@base-v, 20%);
	min-width: 80px;
	span.arrow:after{
		content: "▼";
		color: @white;
		position: absolute;
		line-height: 2.5em;
		top: 0;
		right: 0.75em;
	}	
	span.arrow.tiny:after{
		line-height: 2em;
	}
	select{
		cursor: pointer;
		padding-left: 0.25em;
		width: 120%;
		background: transparent;
		.border-radius(0);
		border: none;
		-webkit-appearance: none;
		color: #fff;
		font-weight: bold;
		optgroup, option{
			background-color: #fff;
			color: #000;
			padding-left: 0.25em;
			&.other{
				border-top: 2px solid @default;
				color: @default;
				option{
					color: @default;
				}
			}
		}
		option{
			&.favs{
				color: @success;
				font-weight: bold;
				&:before{
					content: "♥";
				}
			}
			font-weight: normal;
			padding-top: 0.25em;
			padding-bottom: 0.25em;
		}
		&:focus{
			.focus;
		}
	}
}
.btn, .selectadv{
	//.box-shadow(inset -3px -3px 5px @base-v);
}
.form-group{
	margin-bottom: 0.25em;
}
select, input[type="text"], input[type="number"], .btn{
	height: 2.5em;
}
label, .label-like, .selected-item{
	line-height: 2.5em;
}
.validation{
	padding-top: 2em;
}
legend{
	color: @base-v;
	font-weight: bold;
	//border-top: 2px dashed @base-v;
	border-bottom: 1px solid @base-v;
}
:focus{
	.focus;
}
.pad0{
	padding: 0;
}
// ==== Checkbox
.header{
	float: left;
	width: 100%;
	background-color: @base-v;
	.menu-lang select{
		font-size: 0.8em;
	}
	.title{
		font-weight: bold;
		font-size: 3em;
		float: left;
		width: 100%;
		text-align: center;
		color: #fff;
		margin: 0.25em 0;
		.glyphicon{
			color: @base-o;
		}
	}
	.menu-user{
		color: @white;
		.btn{
			background-color: darken(@base-v, 10%);
			color: @white;
			&:hover{
				background-color: darken(@base-v, 15%);
			}
		}
		.userlabel{
			font-weight: bold;
			font-size: 1.1em;
		}
	}
}
.navigation{
	width: 100%;
	float: left;
	a{
		font-size: 1.25em;
		padding: 0.25em 0.5em;
		width: 50%;
		background-color: @base-v;
		color: #fff;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		display: block;
		float: left;
		&.active{
			color: @base-v;
			font-weight: bold;
			background-color: @white;
		}
	}
}
.pane{
	float: left;
	width: 100%;
}
.well{
	background-color: @white;
	border: none;
	.border-radius(0px);
	margin: 0;
	.box-shadow(none);
}
.btn-default{
	background-color: lighten(@base-v, 20%);
	color: @white;
}
.table{
	margin: 0;
	&.adder{
		th{
			padding: 0;
			.legend{
				font-weight: normal;
			}
		}
		td{
			padding: 0 0.5em 0 0;
		}
		button{
			height: auto;
			&.btn-h-2{
				line-height: 4.75em;
			}
			&.btn-h-3{
				line-height: 6em;
			}
			&.btn-h-4{
				line-height: 7.5em;
			}
		}
	}
	.adder{
		padding: 0;
		width: 8%;
	}
	
}
.row{
	margin-right: 0;
}
.alert{
	margin: 0;
}